<!-- Barra menu con buscador-->
<nav class="navbar navbar-expand-lg navbar-light bg-light barra-menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Menú</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-masajes">
            <a class="nav-link active" aria-current="page" href="/masajes">Masajes</a>
          </li>
          <li class="nav-item nav-reiki">
            <a class="nav-link" href="/reiki">Reiki</a>
          </li>
          <li class="nav-item nav-tarot">
            <a class="nav-link" href="/tarot">tarot</a>
          </li>
          <li class="nav-item nav-contacto">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="¿Qué buscas?" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
    
    <!-- Cabecera del sitio ( Header )-->
  <header class="cabecera">
    <div class="row">
      
      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <h1>Luz Divina</h1>
        <h5>Masajes holisticos - Reiki - Tarot</h5>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <figure class="logo">
          <img src="../images/logo.png" alt="">
        </figure>
      </div>
      
    </div>
   
  </header>