<%-include('partials/head') %>
<body>
  <%-include('partials/header') %>

  


<!-- Articulo Masajes-->
<div class="col-12">
  <article class="masajes">
  <figure>
    <img class="img-fluid masajes1" src="../images/masajes1.jpg" alt="">
  </figure>
  <p>El masaje holístico relaja el cuerpo y la mente a través de fricciones manuales.</p>
  <form action="/masajes" method="get">
    <button class="btn btn-primary btn-sm" type="submit">Seguir leyendo</button>
  </form>
</article>
</div>
<!-------------------------------------------------------------->
  

<!-- Articulo Reiki-->
<div class="col-12">
  <article class="reiki">
  <figure>
    <img class="img-fluid reiki1" src="../images/reiki.jpg" alt="">
  </figure>
  <p>El Reiki es una práctica espiritual japonesa que asegura el alivio de gran cantidad de enfermedades transmitiendo energía a través de las manos.</p>
  <form action="/reiki" method="get">
    <button class="btn btn-primary btn-sm" type="submit">Seguir leyendo</button>
  </form>
</article>
</div>
<!-------------------------------------------------------------->


<!-- Articulo Tarot-->
<div class="col-12">
  <article class="tarot">
  <figure>
    <img class="img-fluid tarot1" src="../images/tarot1.jpg" alt="">
  </figure>
  <p>El tarot es una baraja de naipes a menudo utilizada como medio de consulta e interpretación de hechos.</p>
  <form action="/tarot" method="get">
    <button class="btn btn-primary btn-sm" type="submit">Seguir leyendo</button>
  </form>
</article>
</div>
<!-------------------------------------------------------------->



<%-include('partials/footer') %>

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>