<%-include('partials/head') %>
<body>

    <%-include('partials/header') %>
    
    <!-- Inicio de vista masajes.ejs-->


    <div class="row row-general">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img">
            <figure class="imagen-masajes1">
                <img src="../images/masajes2.jpeg" alt="">
            </figure>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img">
            <figure class="imagen-masajes2">
                <img src="../images/masajes3.jpg" alt="">
            </figure>
        </div>

        <div class="col-12 div-articulo">
            <article class="que-son">
                <h3 class="text-warning titulo-que-son" >¿Que son los masajes holisticos?</h3>

                <p>El masaje holístico es una técnica que consiste en tratar el cuerpo y la mente como un todo. <br> La palabra ‘holos’ proviene del griego y se puede traducir como ‘todo’. <br> Teniendo en cuenta que el estrés es una de las principales enfermedades del siglo XXI, <br> la demanda de este tipo de masaje se ha disparado en los últimos años. <br> Es maravilloso para desestresarse y liberar tensiones. <br> Al finalizar la sesión los pacientes sienten una relajación plena, como si estuvieran caminando entre las nubes.</p>

                <p>El por qué es tan efectivo el masaje holístico se debe a que conecta todos los aspectos que componen al ser humano: <br> cuerpo, mente, alma y espíritu. Todos se contemplan como un todo, buscando alcanzar un equilibrio natural en zonas estratégicas en las que habitualmente se concentra la tensión, como el cuello, la espalda, la cabeza y los brazos.</p>
                <hr>
                </article>
                <article class="articulo-beneficios-masajes">
                <h5 class="beneficios" >Beneficios</h5>

                <p class="beneficio-p"><i class="fas fa-check icono-check"> Reduce la ansiedad y el estrés.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Alivia las contracturas musculares.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Mejora la circulación sanguínea.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Libera la rigidez muscular.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Devuelve a nuestra mente el equilibrio emocional.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Combate la hipertensión.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Fomenta la confianza en uno mismo.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Mejora problemas digestívos.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Alivia el dolor en general.</i></p>
                <p class="beneficio-p"><i class="fas fa-check icono-check"> Termina con los dolores de cabeza recurrentes.</i></p>
                <hr>
                <p class="text-danger"><i class="fas fa-ban icono-ban"> El masaje holìstico no se recomienda cuando se tiene fiebre, diarrea, vómitos, náusea, venas varicosas o trombosis. En casos de alta presión o problemas en el corazón no se masajea el abdomen. Las personas que tienen una fractura o lesiones recientes también deben evitar el masaje. Durante los tres primeros meses de embarazo. Luego de ese perìodo con autorizaciòn medica.</i></p>
            </article>
            
        </div>

    
    </div> <!-- Div cierre row-->


    





    <%-include('partials/footer') %>
</body>
</html>