<%-include('partials/head') %>
<body>

    <%-include('partials/header') %>
    

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <article class="reiki">
        <figure>
          <img class="img-fluid reiki1-vista" src="../images/reiki-vista-1.jfif" alt="">
        </figure>
      </article>
      </div>
      

      <div class="row central">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 lateral-1">
              <figure>
                  <img src="../images/lateral-1.jfif" alt="">
              </figure>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 articulo-central">
              <article class="articulo-reiki">
                  <h3>¿Qué es el reiki?</h3>
                  <p>
                    Reiki es una técnica de canalización y transmisión de energía vital a través de la imposición de manos, que se utiliza para obtener paz y equilibrio en todos los niveles: físico, mental, emocional y espiritual.  Es decir: armoniza y equilibra los chakras de tu cuerpo. 
                  </p>
                  <hr>
                  <h4>Beneficios</h4>

                  <p class="beneficio-p"><i class="fas fa-check"> Liberar emociones reprimidas.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Aumentar nuestro nivel energético, proporcionándonos vitalidad física y anímica.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Provoca un estado de relajación muy agradable, reduciendo o eliminando la ansiedad.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Aliviar el sufrimiento físico, mental, emocional o espiritual.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Ayuda a eliminar el estrés diario.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Aliviar migrañas, depresión, dolores menstruales y estreñimiento.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Ayuda a limpiar el organismo y la mente de toxinas.</i></p>
                <p class="beneficio-p"><i class="fas fa-check"> Facilita el sueño.</i></p>
                  <hr>

              </article>
              
              <article class="para-hover">
                <h5>Cinco principios del reiki que todos podemos usar:</h5>
                <p class=""><i class="fas fa-chevron-right"> Solo por hoy no me enojaré.</i></p>
                <p class=""><i class="fas fa-chevron-right"> Solo por hoy no me preocuparé.</i></p>
                <p class=""><i class="fas fa-chevron-right"> Solo por hoy seré agradecido.</i></p>
                <p class=""><i class="fas fa-chevron-right"> Solo por hoy haré mi trabajo con honestidad e integridad.</i></p>
                <p class=""><i class="fas fa-chevron-right"> Solo por hoy seré amable con todos los seres vivos.</i></p>
              </article>
          </div>

          
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 lateral-2">
                <figure>
                    <img src="../images/lateral-2.jfif" alt="">
                </figure>
            </div>

    
    </div>
    <%-include('partials/footer') %>
</body>
</html>